#get{
	position: relative;
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
	font-size: 1.2em;
}
#get *{
	z-index: 4;
	color: white;
	position: relative;
}
#get .blue-cover{
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #3c0eb7;
	opacity: .4;
	position: absolute;
	height: 100%;
	width: 100%;
}

#get img{
	top: 0;
	left: 0;
	position: absolute;
	z-index: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
}